{% extends "base_template.html" %}

{% block title %}My Communities{% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between; border-bottom: 2px solid #000; padding-bottom: 10px; margin-bottom: 20px;">
    <!-- Boton para acceder a pantalla de crear comunidad -->
    <div style="flex: 1; margin-right: 20px;">
        <a href="{{ url_for('community.create_community') }}"><button>Crear Comunidad</button></a>
    </div>

    <!-- Sección para unirse a una comunidad -->
    <div style="flex: 1; margin-right: 20px;">
        <a href="{{ url_for('community.join_community') }}"><button>Unirse a una Comunidad</button></a>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


{% if communities %}
    <h2>Mis Comunidades</h2>
    {% for community in communities %}
            <div class="col-12 col-md-8 col-lg-12"> 
                <div class="card shadow-sm" > 
                    <div class="card-header card-dark"> 
                        <strong><a href="{{ url_for('community.get_community', community_id=community.id) }}">
                            {{ community.name }}
                        </a></strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text h5"><i class="fa fa-user-circle"></i>{{community.description}}</p>
                        <form method="POST" action="{{ url_for('community.leave_community', community_id=community.id) }}" style="display:inline;">
                            <button type="submit">Abandonar Comunidad</button>
                        </form>
                    </div>   
                </div>
            </div>
    {% endfor %}
{% else %}
    <p>No perteneces a ninguna comunidad, ¡ÚNETE O CREA UNA!</p>
{% endif %}

{% endblock %}